@*@model WebApplication.Models.DayProductionModel*@
@{
    ViewBag.Title = "Tagesproduktion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tagesproduktion</h1>

<div class="container">

    <div class="row">
        <div class="col-sm-2">
            <input id="datepicker" title="datepicker" style="width: 100%" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-lg" id="loadButton">Laden</button>         
        </div>
    </div>
    <script>
        $(document).ready(function () {


            $("#loadButton").kendoButton({
                click: function (e) {
                    //alert(e.event.target.tagName);
                   // alert($("#datepicker").data("kendoDatePicker").value());

                    //$("#grid").data("kendoGrid").dataSource.read();
                    initializeGrid($("#datepicker").data("kendoDatePicker").value());

                    //$.ajax({
                    //    url: "/DayProduction/",
                    //    data: { selectedDate: $("#datepicker").data("kendoDatePicker").value() },
                    //    error: function () {
                    //        //Handle the server errors using the approach from the previous example
                    //    },
                    //    success: function (results) {
                    //        if (results != null) {
                    //            //alert(results)
                    //        }
                    //    }
                    //});

                }
            });

            $("#datepicker").kendoDatePicker({
                change: function () {
                    var value = this.value();

                }
                , value: new Date()
            });

        });
    </script>
    <div class="row"><p></p></div>
    <div id="grid"></div>
    <script>

        $(document).ready(function () {
            initializeGrid($("#datepicker").data("kendoDatePicker").value());
        });

        function initializeGrid(dateSelected) {
            $("#grid").html("");
            $("#grid").kendoGrid({
               
                toolbar: ["excel", "pdf"],
                excel: {
                    fileName: "Tagesproduktion.xlsx",
                    filterable: true
                },
                pdf: {
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.5
                },
                dataSource: {
                    transport: {
                        read: "/DayProduction/getLstDayProduction?selectedDate=" + kendo.toString(dateSelected, "yyyy-MM-dd HH:mm:ss"),
                        dataType: "json"
                    },
                    schema: {
                        model: {
                            id: "Name",
                            fields: {
                                Location: {type: "string"},
                                Name: { type: "string" },
                                Value: { type: "number" },
                                Unit: { type: "string" }
                            }
                        }
                    },
                    pageSize: 15,
                    group: [
                        {
                            field: "Location"
                        },
                        {
                            field: "Unit",
                            aggregates: [
                                { field: "Value", aggregate: "sum" }
                            ]
                        }
                    ], // set grouping for the dataSource
                    aggregate: [{ field: "Value", aggregate: "sum" }]
                    //serverPaging: true,
                    //serverFiltering: true,
                    //serverSorting: true
                },
                height: 500,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [
                    {
                        field: "Location",
                        title: "Ort",
                        width: "40%",
                        filterable: true
                    },
                    {
                        field: "Name",
                        title: "Artikel",
                        width: "30%",
                        filterable: false
                    },
                    {
                        field: "Value",
                        title: "Wert",
                        width: "20%",
                        format: "{0:0.00}",
                        aggregates: ["sum"],
                        groupFooterTemplate: function (e) {
                            return "Total: " + kendo.toString(e.Value.sum, "n2");
                        }//"Total: #=sum#"
                       
                    },
                    {
                        field: "Unit",
                        title: "Einheit",
                        width: "10%"
                    }
                ]
                
            });
        }
    </script>

    <!-- script>
                /*
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        toolbar: ["excel", "pdf"],
                        excel: {
                            fileName: "Tagesproduktion.xlsx",
                            filterable: true
                        },
                        pdf: {
                            allPages: true,
                            avoidLinks: true,
                            paperSize: "A4",
                            margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                            landscape: true,
                            repeatHeaders: true,
                            template: $("#page-template").html(),
                            scale: 0.8
                        },

                        dataSource: {
                            transport: {
                                read: {
                                    url: "/DayProduction/getLstDayProduction?selectedDate=" + $("#datepicker").data("kendoDatePicker").value(),
                                    cache: false
                                    //dataType: "json",
                                    // cache: false
                                },
                            },
                            schema: {
                                model: {
                                    id: "UserId",
                                    fields: {
                                        Amount: { name: "Name", type: "number" },
                                        CardId: { name: "Value", type: "number" },
                                        Department: { name: "Unit", type: "string" },
                                    }
                                },
                            },
                        },

                        sortable: true,
                        groupable: true,
                        resizable: true,
                        filterable: true,
                        /*
                        columns: [
                            {
                                field: "Name",
                                title: "Artikel",
                                width: 80,
                                format: "{0:MM/dd/yyyy}"
                            },
                            {
                                field: "Menge",
                                title: "Menge",
                                width: 60
                            },
                            {
                                field: "Einheit",
                                title: "Einheit",
                                width: 40
                            }

                        ]*/
    /*
                    });

                    group: { field: "Einheit" }
                });*/

            </!--script -->

</div>



